body {
    background:BLACK;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:WHITE;
    border-radius:5px;
    box-shadow: 5px 9px GRAY;
}

.assignment img {
    width:200px;
    border: 2px BLACK;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color:WHITE;
    text-align:center;
}

a {
    text-decoration:none;
    color:BLACK;
}

.assignment a:hover {
    color:WHITE;
}